mixin dateformat(date)
	- var d = new Date(date)
	span=(d.getMonth()+1)+"/"+d.getDate()+"/"+d.getFullYear()

- var tollFreeNum = user && user.dealer && user.dealer.nav_customer_id === 'DISCOUNTTIRE' ? '1-800-633-3936 / 1-800-542-3998' : '1-(800)-890-7161';

mixin logo()
	tr
		td(style="padding: 20px 0; text-align:center")
			img(width="200px" src="http://visionwheel.s3.amazonaws.com/pages/VisionWheelLogo.svg")
mixin table()
	table(cellpadding="0" cellspacing="0")
		block
mixin messaging(message)
	tr
		td(style="padding: 20px 40px;border-bottom:thin solid black; border-top:thin solid black;" align='center')
			h1(style="font-size:24px; margin: 0 0 0px; text-transform:uppercase;")!= message.header
			p!= message.subheader
			a(style="font-size:16px;" class="ulink" href=resetUrl target="_blank")!= resetUrl
mixin footer
	tr
		td(style="padding: 20px 40px;font-size:12px;background-color:black;color:white;" align="center" )
			.group
				p
					sup ©
					span 2019 Vision Wheel, Inc.
				p All Rights Reserved.
				p Vision Wheel Inc. 3512-B 6th Avenue
				p Decatur, Alabama 35603 USA.
			.group(style="margin-top:20px;")
				p Please do not reply to this email. If you need to contact Vision Wheel with questions or concerns, please call Toll Free: #{tollFreeNum}


//- This will allow the two column to be mobile responsive... in theory. Never got these things to actually work.
style.
	table {
		font-family: sans-serif;
		font-size: 16px;
	}
	/* 2 equal-width columns Layout Pattern CSS */
	@media only screen and (max-width: 599px) {
		td[class="pattern"] table { width: 100%; }
		td[class="pattern"] img {
			width: 100%;
			height: auto !important;
		}
		td[class="pattern"] .col{
			width: 50%;
		}
	}
	@media only screen and (max-width: 450px) {
		td[class="pattern"] .col{
			width: 100%;
			display: block;
		}
		td[class="pattern"] .col1{
			margin-bottom: 16px;
		}
		td[class="pattern"] .description span {
			display: block;
			max-width: 300px;
		}
	}
	p {
		margin: 0 0 3px;
	}
	p.strong {
	    font-weight: bold;margin-bottom: 0.5rem;
	}

//- Here is the genneral structure of the email
+table()
	tr
		td(class="pattern" width="600" align="center")
			+table()
				+logo
				if message
					+messaging(message)
				+footer
