extends ./template
include ./_mixins

block styles
	link( href="/css/admin.css" rel="stylesheet" type="text/css" )
block scripts
	script(src='/js/admin.js')
block header	
	h1 Products
block primaryControls
	.primaryControl.productHeader
			a(href="/products/create") Create Product

	.primaryControl.productName
		
block main
	if products
		.productsContainer
			.product
				.brand Brand
				.img Image
				.name Name
				.description Description
				.items Items
			each product in products
				.product
					.brand=product.brand?product.brand.name:"No Brand"
					.img
						-var img =  (product.type=="wheel" && product.image.list[0]!= undefined)? product.image.list[0].src : product.image.list[0]
						a(href="/products/"+product.id)
							img(src=img||"https://placehold.it/200")
					.name
						a(href="/products/"+product.id)=product.name
					.description=product.description
					.items= product.items.map(item=>{return item.part_number}).join(', ')