extends ./template
include ./itemTable

mixin Images(list, wheel)
	each img, i in list
		if wheel
			.img.finish
				img(src=img.src)
				p=img.finish
		else
			.img
				img(src=img)


block styles
	link( href="/css/product.css" rel="stylesheet" type="text/css" )
block scripts
	script(src='/js/product.js')
block header	
	h1 Product Details
	a(href="/products") Back

block primaryControls
	.primaryControl.productHeader
		.productImages
			p.strong Images
			form(action="/products/"+productId, method="post").images
				input(type="hidden", name="action", value="images")
				input(type="hidden", name="isWheel", value=(product.type==="wheel"?"true":"false"))
				if product.image.list
					+Images(product.image.list, (product.type==="wheel"))
				input(type="submit", value="Update Images from Item Images")

	.primaryControl.productName
		form(action="/products/"+productId, method="post")
			input(type="hidden", name="action", value="details")
			p.strong Name
			input(type="text" name="name" value=product.name)
			p Type: #{product.type}
			p.strong Description
			textarea(type="text" name="description" rows=10, cols=50)=product.description
			p.strong Brand
			select(name="brand")
				each brand in brands.filter(brand => brand.disabled !== true)
					option(value=brand.id, selected=(brand.id==product.brand_id))=brand.name
			p
				input#update(type="submit", name="update" value="Update Product")
block main
	form(action="/products/"+productId, method="post").productItems
		input(type="hidden", name="action", value="orphane")
		p.strong= "Part Numbers ("+product.items.list.length+")"
		+ItemTable(product.items.list, "productwheel")
		input(type="submit", value="Orphane Selected Items")
	form(action="/products/"+productId, method="post").deleteProduct
		h2 Warning: Delete Product
		p Deleting a product will release its associated parts. These will be orphaned and can be reassigned via the "Items" menu.
		input(type="hidden", name="action", value="delete")
		input(type="submit", value="Delete Product")