extends ./template
include ./_mixins


block styles
	link( href="/css/admin.css" rel="stylesheet" type="text/css" )
	link( href="/css/users.css" rel="stylesheet" type="text/css" )
block scripts
	script(src='/js/users.js')
block header	
	h1 User Management
block primaryControls
	.primaryControl.productHeader
		a(href="/users/create") Create User
	.primaryControl.productName
		a(href="/users/bulk") Bulk User Management
		
block main
	if users
		.usersContainer
			if ( message ) 
				p.message=message

			#sortableTable
				.adminTableControls
					.left
						input(class="search" placeholder="Search users")
					.right
						p.total= users.length.toLocaleString() + " Users"
						#statusToggle
							label
								input(type="checkbox").statusToggle
								| Show Disabled Users	
				table#userTable.adminTable
					thead
						tr
							th.sort(data-sort="name") 
								span Name
							th.sort(data-sort="email") 
								span Email
							th.sort(data-sort="username") 
								span Username
							th.sort(data-sort="phone") 
								span Phone
							th.sort(data-sort="address") 
								span Address
							th.sort(data-sort="dealer") 
								span Dealer
							th.sort(data-sort="created") 
								span Created
							th Edit
					tbody.list
						each user in users
							tr(class=(user.disabled || (user.dealer && user.dealer.disabled)) ? "disabled" : null)
								td.name=user.first_name + " " + user.last_name
								td.email=user.email
								if user.username
									td.username=user.username
								else
									td.username
										em.null null
								td.phone=user.phone_number || " "
								td.address
									p= user.address_1
									if user.address_2
										p= user.address_2
									p #{user.city}, #{user.state} #{user.zip}
								if user.dealer
									td.dealer=user.dealer.company_name_1
								else
									td.dealer=user.dealer_id
								td.created
									+dateformat(user.created)
								td.edit
									a(href="/users/" + user.id) Edit


